*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fjalla One', sans-serif;
	color: #312C28;
}

html,body{
	height: 100%;
}

.center{
	width: 100%;
	max-width: 1048px;
	margin: 0 auto;
}

.clear{
	clear: both;
}

/***MENU PRINCIPAL***/

header{
	width: 100%;
	height: 500px;
	background-image: url('../imagens/capa10.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	
}

.logo{
	float: left;
	width: 250px;
	height: 250px;
	margin-top: 20px;
	padding: 0 2%;
	background-image: url('../imagens/logo-novo.jpeg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	border-radius: 152px;
}

.logo:hover{
	width: 255px;
	height: 255px;
	transition: 0.5s;
	-webkit-box-shadow: 10px 20px 93px 45px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 20px 93px 45px rgba(0,0,0,0.75);
	box-shadow: 10px 20px 93px 45px rgba(0,0,0,0.75);
}

/**MENU PARA DESKTOP**/

nav.menu-desktop ul{
	list-style-type: none;
}

nav.menu-desktop li{
	float: right;
	margin-top: 130px;
	padding: 0 20px;
	font-size: 20px;
}

nav.menu-desktop li:hover{
	background-color: rgba(212,212,214,0.5);
	border-radius: 6px;
}

nav.menu-desktop li a{
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	
}

/***MENU PARA MOBILE***/

nav.menu-mobile{
	cursor: pointer;
	display: none;
	width: 40px;
	height: 32px;
	background-image: url('../imagens/menu-mobile.png');
	background-size: 100% 100%;
}

nav.menu-mobile:hover ul{
	opacity: 1;
}

nav.menu-mobile ul{
	opacity: 0;
	transition: 1s;
	background-color: white;
	position: absolute;
	width: 100%;
	left: 0;
	top: 80px;
	list-style-type: none;
	text-align: center;
}

nav.menu-mobile ul li{
	padding: 8px 0;
	transition: 0.4s;
	border-bottom: 1px solid black;
}

nav.menu-mobile ul li:hover{
	background-color: rgba(230,230,230,0.7);
}

nav.menu-mobile ul li a{
	color: black;
	font-weight: 400;
	text-decoration: none;
}

/***CHAMADA***/

section.chamada{
	z-index: 1;
	width: 100%;
	margin-top: 50px;
	text-align: center;
	margin-bottom: 10px;
}



section.chamada h2{
	font-size: 40px;
}

section.chamada p{
	font-size: 20px;
	margin-top: 10px;
}

.seta{
	margin-top: 20px;
	padding: 0;
}
.seta img{
	width: 40px;
	height: 40px;

}

/***MOSAICO FLEX***/

.flex-mosaico{
	display: flex;
}

.item-1-mosaico{
	background-position: center;
	background-size: cover;
	width: 60%;
}

.item-2-mosaico{
	background-color: rgba(212,212,214,0.5);
	padding: 60px 40px;
	width: 40%;
}

.item-2-mosaico p{
	font-weight: bold;
}

/***SESSÃO DO VIDEO***/

section.sessao-video{
	width: 100%;
	height: 700px;
	
}
.chamada2{
	margin: 20px 10px;
	padding: 20px 2%;
	text-align: center;
	text-transform: uppercase;
}

.video{
	width: 100%;
	height: 300px;
		
}

/***SESSÃO VALORES***/

section.sessao-valores{
	width: 100%;
	height: 150px;
	padding: 20px 2%;
	display: inline-block;
}

section.sessao-valores h2{
	text-align: center;
	text-transform: uppercase;
	padding: 20px;
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 10px;
}

.container-sessao-valores{
	margin-top: 0;
	text-align: center;
}

.container{
	float: left;
	width: 33.333%;
	padding: 30px;
}

.container img{
	width: 90px;
	margin-bottom: 0;
}

.conteudo-container ul h3{
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 25px;
}

.conteudo-container ul li{
	list-style-type: none;
	margin-top: 10px;
	text-transform: uppercase;
	font-size: 20px;
}

/***SESSAO FORMA DE PAGAMENTO***/


section.sessao-forma-pagamento{
	width: 100%;
	height: 220px;
	position: relative;
	top: 300px;
}

.pagamento h2{
	text-align: center;
	text-transform: uppercase;
	margin-top: 30px;
	padding: 20px;
}

.pagamento h3{
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

.dinheiro{
	float: left;
	width: 50%;
	height: 100px;
	text-align: center;
	padding-left: 150px;
	

}

.dinheiro img{
	width: 70px;
	
}

.dinheiro p{
	text-transform: uppercase;
	margin-top: 10px;
}

.cartao{
	float: right;
	width: 50%;
	height: 100px;
	text-align: center;
	padding-right: 170px;
	
}

.cartao img{
	width: 70px;

}

.cartao p{
	text-transform: uppercase;
	margin-top: 10px;
}

/***SESSAO CONTATO E MAPA***/

section.contato{
	width: 100%;
	height: 400px;	
	margin-top: 20px;
	position: relative;
	top: 380px;
}

.redes{
	width: 100%;
	margin-top: 100px;
	display: inline-block;
	height: auto;

}

.container-contato{
	display: inline-block;
	float: left;
	width: 50%;
	height: 385px;	
	text-align: center;
	text-transform: uppercase;
	background-color: rgb(233,233,234);
	
}

.container-contato h3{
	margin-top: 20px;
}

.whatsapp{
	margin-top: 10px;
	width: 33.333%;
	float: left;
}

.whatsapp p{
	font-size: 10px;
}

.whatsapp img{
	width: 30px;
	cursor: pointer;
}

.facebook{
	margin-top: 10px;
	width: 33.333%;
	float: left;
	
}

.facebook img{
	width: 30px;
	cursor: pointer;
}

.facebook p{
	font-size: 10px;
}

.instagram{
	margin-top: 10px;
	width: 33.333%;
	float: right;
}

.instagram p{
	font-size: 10px;
}

.instagram img{
	width: 30px;
	cursor: pointer;
}

/***MAPA***/

.container-mapa{
	float: right;
	width: 50%;
	height: 385px;
	text-align: center;
	background-color: rgb(233,233,234);
}

.container-mapa h3{
	text-transform: uppercase;
	margin-top: 20px;
}

.container-bloco-mapa{
	width: 100%;
	height: auto;
	padding: 20px 5%;
}

.bloco-mapa{
	width: 100%;
	height: 300px;
	border: 8px solid #ccc;
}

.mapouter{
	width: 100%;
}

/***SESSÃO DUVIDAS E SUGESTÕES***/

section.formulario{
	width: 100%;
	height: 400px;
	
	position: relative;
	top: 365px;

}

.dizeres{
	float: left;
	width: 50%;
	height: 400px;	
	text-align: center;
}

.dizeres h3{
	text-transform: uppercase;
	padding: 40px;
	margin-bottom: 100px;
}

.dizeres p{
	text-transform: uppercase;
	padding: 30px;
}

.form{
	float: right;
	display: inline-block;
	width: 50%;
	height: 400px;
	
}

.form h2{
	text-transform: uppercase;
	text-align: center;
	padding: 40px;
	padding-bottom: 20px;
}

.form p{
	text-align: center;
}

.form form{
	width: 100%;
	height: 200px;
	padding: 10px;
	display: inline-block;
	
}

.form form label{
	display: block;
	
	margin-left: 20px;
	margin-bottom: 5px;
}

.form form input{
	display: block;
	margin-left: 20px;
	margin-bottom: 10px;
}

.form form input[type=text]{
	width: 90%;
	padding: 10px;
}

.form form textarea{
	margin-left: 20px;
	padding: 10px;
	width: 90%;
	height: 100px;
	color: grey;
}

.form form input[type=submit]{
	width: 200px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	cursor: pointer;
}

/***RODAPE***/

footer{
	width: 100%;
	height: 70px;
	background-color: #3B434C;
	position: relative;
	top: 450px;
}

.rodape-left{
	float: left;
	text-align: center;
	width: 33.333%;
	margin-top: 20px;
	color: #ccc;
	font-family: 'Open Sans', sans-serif;
}

.rodape-left p{
	color: #a2abb7;
	font-size: 13px;
}

.rodape-center{
	display: inline-block;
	text-align: center;
	width: 33.333%;
	margin-top: 20px;
	
}

.rodape-center p{
	color: #a2abb7;
	font-size: 13px;
}

.rodape-right{
	float: right;
	text-align: center;
	width: 33.333%;
	margin-top: 20px;
	color: white;
}

.rodape-right p{
	color: #a2abb7;
	font-size: 13px;
}


/****RESPONSIVO****/

@media screen and (max-width: 875px){
	
	header{
		width: 100%;
		height: 500px;
		margin-bottom: -250px;
		background-image: url('../imagens/capa10.jpg');
		background-repeat: no-repeat;
		background-size: contain;
	}

	.logo{
		margin-left: 10px;
	}

	section.chamada{
		position: relative;
		top: 200px;
	}

	section.servicos{
		position: relative;
		top: 200px;
	}

	section.sessao-video{
		position: relative;
		top: 200px;
	}

	section.sessao-valores{
		position: relative;
		top: 100px;
	}

	section.sessao-forma-pagamento{
		position: relative;
		top: 370px;
	}

}

@media screen and (max-width: 835px){



}

@media screen and (max-width: 768px){

	section.sessao-chamada{
		position: relative;
		top: 0;
	}

	.flex-mosaico{
		display: block;
	}

	.item-1-mosaico{
		padding-top: 80%;
		width: 100%;
	}

	.item-2-mosaico{
		text-align: justify;
		width: 100%;
	}

	section.sessao-valores{
		position: relative;
		top: -20px;
	}
}

@media screen and (max-width: 653px){


	.logo{
		float: right;
		width: 150px;
		height: 150px;
		margin-top: 15px;
		margin-left: 25px;
		margin-right: 10px;
		padding: 0 2%;
		background-image: url('../imagens/logo-novo.jpeg');
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		border-radius: 152px;
	}

	.logo:hover{
		width: 150px;
		height: 150px;
	}

	nav.menu-desktop{
		display: none;
	}

	nav.menu-mobile{
		float: left;
		margin-top: 50px;
		margin-left: 40px;
		display: block;
	}

	section.chamada{
		position: relative;
		top: 70px;
	}

	section.sessao-valores{
		position: relative;
		top: 0;
	}

	section.sessao-valores{
		position: relative;
		top: 0;
	}

	section.servicos{
		position: relative;
		top: 70px;
	}

	section.servicos h2{
		position: relative;
		top: -80px;
	}

	section.sessao-video{
		position: relative;
		top: 60px;
	}

	section.sessao-valores{
		position: relative;
		top: -220px;
	}

	section.sessao-valores h2{
		
	}

	.conteudo-container ul li{
		font-size: 13px;

	}

	section.sessao-valores h3{
		font-size: 20px;
		text-align: center;
	}

	.container{
		padding: 10px;

	}

	.barba{
		position: relative;
		top: -20px;
	}

	section.sessao-forma-pagamento{
		width: 90%;
		position: relative;
		top: 0px;
		left: 18px;
		right: 0;
	}

	.dinheiro{
		position: relative;
		left: -30px;
	}

	.dinheiro p{
		font-size: 14px;
	}

	.cartao{
		position: relative;
		right: -30px;
	}

	.cartao p{
		font-size: 14px;
		text-align: center;
	}

	section.contato{
		position: relative;
		top: 20px;
	}

	.container-contato{
		float: none;
		width: 100%;
		height: 180px;
	}

	.redes{
		position: relative;
		top: -80px;
	}

	.container-mapa{
		float: none;
		width: 100%;
		position: relative;
		top: -70px;
	}

	section.formulario{
		height: auto;
		position: relative;
		top: 200px;
	}

	.dizeres{
		float: none;
		width: 100%;
	}

	.dizeres p{
		position: relative;
		top: -150px;
	}

	.form{
		float: none;
		width: 100%;
		height: auto;
		position: relative;
		top: -250px;
		bottom: 0;
	}

	footer{
		position: relative;
		top: 150px;
		height: 220px;
	}

	.rodape-left{
		width: 100%;
		padding: 20px;
		float: none;
		margin: 0 auto;
	}

	.rodape-center{
		width: 100%;
		padding: 20px;
		float: none;
		margin: 0 auto;
	}

	.rodape-right{
		width: 100%;
		padding: 20px;
		float: none;
		margin: 0 auto;
	}

}

@media screen and (max-width: 465px){

	section.chamada{
		position: relative;
		top: -20px;
	}

	section.servicos{
		position: relative;
		top: 20px;
	}

	section.sessao-video{
		position: relative;
		top: 20px;
	}

	section.sessao-valores{
		position: relative;
		top: -350px;
	}

	.container{
		float: none;
		width: 100%;
		margin: 0 auto;
	}

	section.sessao-forma-pagamento{
		position: relative;
		top: -370px;
	}

	.dinheiro{
		float: none;
		padding: 0;
		margin: 0 auto;
		width: 100%;
		position: relative;
		left: 0;
	}

	.cartao{
		float: none;
		padding: 0;
		margin: 0 auto;
		margin-top: 20px;
		width: 100%;
		position: relative;
		left: 0;
	}

	section.contato{
		position: relative;
		top: -220px;
	}

	section.formulario{
		height: 430px;
		position: relative;
		top: -50px;
	}

	.form{
		margin: 0 auto;
	}


}

@media screen and (max-width: 318px){

	.container-mapa{
		position: relative;
		top: -80px;
}

